	<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html ng-app="pollarizeApp">
	<head>
		<title>POLLarize</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src=js/controller.js></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
	  <noscript>
    	<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top" ng-controller="appController">

    
		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
        <h1><a href="/">POLLarize</a></h1>
        <nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="" id="headerLoginButton" ng-hide="loggedin" ng-click="gotoLogin()" class="button special">Login</a></li>
            <li><a href="/logout" id="logoutLink" ng-show="loggedin">Welcome {{displayname}}, logout?</a></li>
					</ul>
				</nav>
			</header>	

      <!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>This is pollarize</h2>
					<p>Cast your ballot.</a></p>
					<ul class="actions">
						<li><a href="" ng-click="goRegister()" class="button big special">Sign Up</a></li>
						<li><a href="/" class="button big alt">Learn More</a></li>
					</ul>
				</div>
			</section>


    <!-- begin login modal -->
    <div id="modalbackdrop" class="modal" ng-show="showloginform">
    <div id="login" class="modal-content" >
      <div class=pull-right><button type="close_button" class="close" style="border:none; background:none;" aria-label="Close" ng-click="exit()">
          <span aria-hidden="true"><font size="5">&times;</font></span></button></div>
      <form method="post" action="/login">
        <h3 ng-bind="login_msg"></h3>
        <input type = "text" id = "username" ng-model="username" placeholder = "Username" name = username size="5"></input>
        <input type = "password" id = "password" ng-model="password" placeholder = "Password" name = "password" size="5"></input>
        <input type = "submit" id = "login_submit" value = "Login" ng-disabled="!password" ng-disabled"!username"></input>
      </form>
    </div>
   </div>
    <!-- end login modal -->

        <div id="regbackdrop" class="modal" ng-show="showreg">
    <div id="register" class="modal-content-large" ng-show="showreg">
      <div class=pull-right><button type="close_button" class="close" style="border:none; background:none;" aria-label="Close" ng-click="exit()">
          <span aria-hidden="true"><font size="5">&times;</font></span></button></div>
      <form ng-submit="register()">
        <h3>Let's get started.</h3>
        <input type="text" id="newuser" ng-model="newuser" placeholder="Username" name="newuser" size="5" required>
        <input type="password" id="newpass" ng-model="newpass" placeholder="Password" name="newpass" size="5" required>
        <span>
        <input type ="text" id="city" ng-model="city" placeholder="City">
        <select ng-model="selected_state" ng-options="state as state for state in states" required>
        <option value="" style="color:#bbb !important; opacity:1.0;" disabled selected>State</option>
        </select>
        <input type ="text" id="zip" ng-model="zip" placeholder="zipcode">
        <input type="date" id="dob" ng-model="dob" name=dob size="1" placeholder="Date of Birth"></input>
        </span>
        <select ng-model="selected_party" ng-options="party as party for party in parties" required>
        <option value="" style="color:#bbb !important; opacity:1.0;" disabled selected>Party Affiliation</option>
        </select>
        <input type = "submit" id = "reg_submit" value = "register" ng-disabled="!(newpass&&newuser&&city&&selected_state&&zip&&dob)" ></input>
      </form>
   </div>


		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
						<li>&copy; Pollarize. All rights reserved.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>
    </div> 
	</body>
</html>
