	<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html ng-app="pollarizeApp">
	<head>
		<title>POLLarize</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src=js/controller.js></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <!-- 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top" ng-controller="appController">

    
		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">POLLarize</a></h1>
        <nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="" id="headerLoginButton" ng-hide="loggedin" ng-click="gotoLogin()" class="button special">Login</a></li>
            <li><a href="/logout" id="logoutLink" ng-show="loggedin" ng-click="logout()">Welcome {{displayname}}, logout?</a></li>
					</ul>
				</nav>
			</header>	
      <!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>This is pollarize</h2>
					<p>Cast your ballot.</a></p>
					<ul class="actions">
						<li><a href="" ng-click="goRegister()" class="button big special">Sign Up</a></li>
						<li><a href="/" class="button big alt">Learn More</a></li>
					</ul>
				</div>
			</section>


    <!-- begin login modal -->
    <div id="modalbackdrop" class="modal" ng-show="showloginform">
    <div id="login" class="modal-content" >
      <form method="post" action="/login">
        <h3 ng-bind="login_msg"></h3>
        <input type = "text" id = "username" ng-model="username" placeholder = "Username" name = username size="5"></input>
        <input type = "password" id = "password" ng-model="password" placeholder = "Password" name = "password" size="5"></input>
        <input type = "submit" id = "login_submit" value = "Login" ng-disabled="!password" ng-disabled"!username"></input>
      </form>
    </div>
   </div>
    <!-- end login modal -->

        <div id="regbackdrop" class="modal" ng-show="showreg">
    <div id="register" class="modal-content-large" ng-show="showreg">
      <form ng-submit="processLogin()">
        <h3>Let's get started.</h3>
        <input type = "text" id = "newuser" ng-model="newuser" placeholder = "Username" name = newuser size="5">
        <input type = "text" id = "firstname" ng-model="firstname" placeholder = "First name" name = firstname size="14">
        <input type = "text" id = "lastname" ng-model="lastname" placeholder = "Last name" name = lastname size="14">
        <p>DOB &nbsp;<input type = "date" id = "dob" ng-model="dob" name = dob size="1"</p>
        <input type = "password" id = "newpass" ng-model="newpass" placeholder = "Password" name = "newpass" size="5">
        <span>
          <input type ="text" id="city" ng-model="city" placeholder="City">
          <select value="state" ng-model="state">
            <option selected="selected">Select State</option>
            <option>AL</option>
            <option>AK</option>
            <option>AS</option>
            <option>AZ</option>
            <option>AR</option>
            <option>CA</option>
            <option>CO</option>
            <option>CT</option>
            <option>DE</option>
            <option>DC</option>
            <option>FL</option>
            <option>FL</option>
            <option>GA</option>
            <option>HI</option>
            <option>ID</option>
            <option>IL</option>
            <option>IN</option>
            <option>IA</option>
            <option>KS</option>
            <option>KY</option>
            <option>LA</option>
            <option>ME</option>
            <option>MD</option>
            <option>MA</option>
            <option>MI</option>
            <option>MN</option>
            <option>MS</option>
            <option>MO</option>
            <option>MT</option>
            <option>NE</option>
            <option>NV</option>
            <option>NH</option>
            <option>NJ</option>
            <option>NM</option>
            <option>NY</option>
            <option>NC</option>
            <option>ND</option>
            <option>OH</option>
            <option>OK</option>
            <option>OR</option>
            <option>PA</option>
            <option>RI</option>
            <option>SC</option>
            <option>SD</option>
            <option>TN</option>
            <option>TX</option>
            <option>UT</option>
            <option>VT</option>
            <option>VA</option>
            <option>WA</option>
            <option>WV</option>
            <option>WI</option>
            <option>WY</option>
           </select>
        </span>
        <input type = "submit" id = "reg_submit" value = "register" ng-disabled="!password" ng-disabled"!username">
      </form>
   </div>


		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
						<li>&copy; Pollarize. All rights reserved.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>
    </div> 
	</body>
</html>
